.modal {
  width: var(--width-basic);
  max-height: 100vh;
}

/* main */
.section {
  width: var(--width-basic);
  min-height: var(--height-min);
}

.container {
  width: var(--width-container-basic);
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: var(--padding-small) 0;
}

/* filter */
.container .filter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .filter li {
  margin-right: var(--margin-small);
}

.container .filter button {
  border: none;
  font-size: var(--font-size-16);
  background-color: var(--bg-200);
  padding: var(--round-small-button);
  border-radius: var(--border-radius-20);
  box-shadow: var(--box-shadow-basic);
  transition: var(--transition-3);
}

.container .filter button:hover {
  background-color: var(--primary-100);
  box-shadow: var(--box-shadow-hover);
  transform: translateY(-1px);
}

.container .filter button.active {
  background-color: var(--primary-100);
}

/* bucketList */
.container .bucketList {
  width: 100%;
  min-height: calc(60vh - 45px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.emptyBucketList {
  color: var(--bg-300);
}

/* createButton */
:root {
  position: relative;
}

.createButton {
  width: 3.5rem;
  height: 3.5rem;
  position: sticky;
  bottom: 10vh;
  left: 73vw;
  border: none;
  font-size: var(--font-size-18);
  background-color: #71c4ef;
  border-radius: var(--border-radius-30);
  box-shadow: var(--box-shadow-basic);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition-3);
}

.createButton img {
  width: 28px;
  filter: invert(100%) sepia(52%) saturate(20%) hue-rotate(315deg) brightness(103%) contrast(108%);
  transition: var(--transition-3);
}

.createButton:hover {
  box-shadow: var(--box-shadow-hover);
  transform: translateY(-1px);
}

.createButton:hover img {
  transform: scale(1.2);
}

/* Skeleton */
.skeletonMarginLarge {
  margin-top: var(--margin-large);
}

@media (max-width: 1024px) {
  .container {
    width: var(--width-container-moderate);
  }
}

@media (max-width: 768px) {
  .container {
    width: var(--width-container-medium);
  }
}

@media (max-width: 580px) {
  .container {
    width: var(--width-container-large);
  }
}
