.container {
  padding-top: 20vh;
  width: var(--width-container-login);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container > div {
  width: 100%;
}

/* intro */
.container .intro,
.container form input {
  box-shadow: var(--box-shadow-basic);
}

.container .intro {
  /* width: var(--width-container-login); */
  margin: 0 auto;
  text-align: center;
  background-color: var(--bg-200);
  padding: 2rem 3rem;
  border-radius: var(--border-radius-20);
  box-sizing: border-box;
}

.container .intro .logo {
  width: 60px;
  margin: var(--margin-small);
}

.container .intro .introText > p {
  line-height: 1.5rem;
}

/* form */
.container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: var(--margin-small);
  gap: 1rem;
}

.container form input {
  font-size: var(--font-size-16);
  background-color: var(--bg-200);
  border-radius: var(--border-radius-20);
  border: none;
  text-align: center;
  padding: var(--round-large-button);
  box-sizing: border-box;
}

.container form input::placeholder {
  opacity: 0.5;
}

.container form input:focus {
  outline: 2px solid var(--bg-300);
  font-size: var(--font-size-16);
}

.container form .buttonBox {
  margin-top: var(--margin-small);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container form button {
  width: 45%;
  border: none;
  cursor: pointer;
  font-size: var(--font-size-16);
  background-color: var(--primary-100);
  border-radius: var(--border-radius-30);
  padding: var(--round-medium-button);
  box-shadow: var(--box-shadow-basic);
  transition: var(--transition-3);
}
.container form button:hover {
  box-shadow: var(--box-shadow-hover);
  transform: translateY(-1px);
}

/* Skeleton */
.skeletonMargin {
  margin-top: var(--margin-small);
}

@media (max-width: 1024px) {
  .container {
    width: var(--width-container-basic);
  }
}

@media (max-width: 768px) {
  .container {
    width: var(--width-container-medium);
  }
}

@media (max-width: 480px) {
  .container {
    width: var(--width-container-large);
  }
}
