.container {
  padding-top: 20vh;
  width: var(--width-container-login);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* nav */
.container nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--margin-large);
}

.container nav .logo img {
  width: 60px;
}

.container nav .breadcrumb {
  display: flex;
}

.container nav .breadcrumb a {
  color: var(--bg-300);
  text-decoration: none;
  transition: var(--transition-3);
}

.container nav .breadcrumb p {
  color: var(--bg-300);
  margin: 0 0.5rem;
  transition: var(--transition-3);
}

.container nav .breadcrumb a:hover,
.container nav .breadcrumb p:hover {
  color: var(--primary-300);
}

/* form */
.container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* signupInput */
.container form input {
  font-size: 16px;
  width: var(--width-container-login);
  margin: 0 auto;
  border: none;
  text-align: center;
  background-color: var(--bg-200);
  border-radius: var(--border-radius-20);
  padding: var(--round-large-button);
  box-sizing: border-box;
  box-shadow: var(--box-shadow-basic);
}

.container input::placeholder {
  opacity: 0.5;
}

.container input:focus {
  outline: 2px solid var(--bg-300);
  font-size: var(--font-size-16);
}

/* duplicateCheckBox */
.container button {
  font-size: var(--font-size-16);
  border: none;
  box-sizing: border-box;
  border-radius: var(--border-radius-30);
  box-shadow: var(--box-shadow-basic);
  transition: var(--transition-3);
  cursor: pointer;
}

.container button:hover {
  box-shadow: var(--box-shadow-hover);
  transform: translateY(-1px);
}

.container form .usernameBox {
  display: flex;
  align-items: center;
  position: relative;
}

.container form .usernameBox .usernameCheckButton {
  position: absolute;
  left: 100%;
  width: 120px;
  margin-left: var(--margin-small);
  padding: var(--round-small-button);
  background-color: var(--primary-200);
}

/* signupButton */
.container form .signupButton {
  text-align: center;
  padding: var(--round-medium-button);
  background-color: var(--primary-100);
}

/* passwordConfirmed */
.container form .passwordConfirmed {
  width: 100%;
  font-size: var(--font-size-14);
  color: var(--bg-300);
  padding: 1rem 0 1rem 0;
  border: none;
  text-align: center;
  box-sizing: border-box;
}

.container form .passwordConfirmed:disabled {
  background-color: #fff;
  box-shadow: none;
}

/* Skeleton */
.skeletonMargin {
  margin-top: var(--margin-small);
}

@media (max-width: 1024px) {
  .container,
  .container form input {
    width: var(--width-container-basic);
  }
}

@media (max-width: 768px) {
  .container,
  .container form input {
    width: var(--width-container-medium);
  }

  .container form .usernameBox {
    flex-direction: column;
  }

  .container form .usernameBox .usernameCheckButton {
    position: relative;
    left: 0;
    width: auto;
    margin: 0.5rem auto;
  }
}

@media (max-width: 480px) {
  .container,
  .container form input {
    width: var(--width-container-large);
  }
}
