.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: var(--margin-large);
  gap: 1.5rem;
}

.container li {
  width: 100%;
  transition: var(--transition-3);
}

.emptyBucketList {
  color: var(--bg-300);
}
