.section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.section .bucket {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  padding: var(--padding-small);
  background-color: var(--bg-200);
  border-radius: var(--border-radius-20);
  box-shadow: var(--box-shadow-basic);
  transition: var(--transition-3);
}

.section .bucket:hover {
  transform: translateY(-1px);
  box-shadow: var(--box-shadow-hover);
}

/* form - title */
.section .bucket form {
  width: 45%;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 0 var(--margin-small);
  gap: 0.5rem;
}

.section .bucket form input {
  padding: 0.6rem 1.2rem;
  font-size: var(--font-size-18);
  background-color: var(--bg-100);
}

.bucket form input[type='text'] {
  background-color: transparent;
  border-radius: var(--border-radius-20);
}

.bucket form input[type='text']:focus,
.bucket form input[type='text'].active {
  background-color: var(--bg-100);
  outline: 1px solid var(--bg-300);
}

/* form - file */
.bucket .imageBox {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: var(--primary-200);
  border-radius: var(--border-radius-15);
  transition: var(--transition-3);
}

.bucket .imageBox::after {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: var(--transition-3);
  border-radius: var(--border-radius-15);
}

.bucket .imageBox:hover::after {
  opacity: 1;
  box-shadow: var(--box-shadow-hover);
}

.bucket .imageBox:hover button {
  display: block;
}

/* form - file - image */
.bucket .imageBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* form - file - button */
.bucket .imageButtonBox {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 1;
}

.bucket .imageBox button {
  width: 80%;
  display: none;
  padding: 5px 8px;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  font-size: var(--font-size-18);
  background-color: var(--bg-100);
  border-radius: var(--border-radius-15);
  box-shadow: var(--box-shadow-basic);
  transition: var(--transition-3);
}

.bucket .imageBox button:hover {
  background-color: var(--primary-200);
  box-shadow: var(--box-shadow-hover);
}

.bucket .imageBox input {
  display: none;
}

/* progress */
.progressBarBox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1rem;
  padding-left: 1.2rem;
}

.progressBarBox p {
  color: var(--primary-300);
  font-size: var(--font-size-14);
  margin-right: 0.5rem;
}

.progressBarBox .progressBar {
  width: 75%;
  padding: 2px;
  border-radius: 4px;
  background: var(--bg-100);
  opacity: 0.7;
}

.progressBarBox .progressBar p {
  color: transparent;
  margin-left: 1rem;
  transition: var(--transition-3);
}

.progressBarBox .progressBar:hover,
.progressBarBox .progressBar:hover p {
  opacity: 1;
  color: var(--primary-300);
}

/* button */
.bucket .buttonBox {
  display: flex;
  gap: 1rem;
}

.bucket .buttonBox button {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-100);
  border-radius: var(--border-radius-20);
  transition: var(--transition-3);
}

.bucket .buttonBox button img {
  width: 26px;
  transition: var(--transition-3);
}

.bucket .buttonBox .deleteButton {
  background-color: var(--primary-200);
}

.bucket .buttonBox .deleteButton img {
  width: 22px;
}

.bucket .buttonBox button:hover {
  box-shadow: var(--box-shadow-hover);
}

.bucket .buttonBox button:hover img {
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .bucket .imageBox {
    width: 90px;
    height: 90px;
  }

  .section .bucket form {
    margin: 0 0.5rem;
  }

  .section .bucket form input {
    padding: 0.5rem 1rem;
    font-size: var(--font-size-16);
  }

  .progressBarBox {
    padding-left: 0.5rem;
  }

  .progressBarBox .progressBar {
    width: 65%;
  }
}

@media (max-width: 480px) {
  .bucket .imageBox {
    width: 80px;
    height: 80px;
  }

  .progressBarBox {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
  }

  .progressBarBox .progressBar {
    width: 100%;
  }

  .bucket .buttonBox {
    flex-direction: column-reverse;
  }

  .bucket .buttonBox button {
    width: 2rem;
    height: 2rem;
  }

  .bucket .buttonBox button img {
    width: 24px;
  }

  .bucket .buttonBox .deleteButton img {
    width: 20px;
  }
}
