footer {
  width: var(--width-basic);
  min-height: 10vh;
}

.container {
  width: var(--width-container-basic);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container p {
  font-size: var(--font-size-14);
  color: var(--primary-300);
}

@media (max-width: 1024px) {
  .container {
    width: var(--width-container-moderate);
  }
}

@media (max-width: 768px) {
  .container {
    width: var(--width-container-medium);
  }
}

@media (max-width: 580px) {
  .container {
    width: var(--width-container-large);
  }
}
