.container {
  width: var(--width-container-basic);
  margin: 0 auto;
  padding: var(--padding-small);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: var(--border-radius-20);
  box-shadow: var(--box-shadow-basic);
  box-sizing: border-box;
  overflow: hidden;
  transition: all 0.3s linear;
}

.container ul {
  width: 100%;
}

.container ul li {
  width: 100%;
  margin-bottom: var(--margin-small);
}

.container .createButton {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: var(--margin-small);
  font-size: var(--font-size-18);
  background-color: var(--bg-100);
  transition: var(--transition-3);
}

.container .createButton img {
  width: 22px;
  transition: var(--transition-3);
}

.container .createButton:hover {
  background-color: var(--text-200);
}

.container .createButton:hover img {
  transform: scale(1.2);
}

@media (max-width: 1024px) {
  .container {
    width: var(--width-container-moderate);
  }
}

@media (max-width: 768px) {
  .container {
    width: var(--width-container-medium);
  }
}

@media (max-width: 580px) {
  .container {
    width: var(--width-container-large);
  }

  .container .createButton {
    width: 2rem;
    height: 2rem;
  }

  .container .createButton img {
    width: 20px;
  }
}
