.todo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* checkbox */
.todo input[type='checkbox'] {
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
  background: none;
  outline: none;
  flex-grow: 0;
  cursor: pointer;
  accent-color: var(--primary-100);
}

.todo input[type='checkbox']::before {
  content: '';
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background-color: transparent;
  background-size: contain;
  /* box-shadow: inset 0 0 0 1px var(--bg-300); */
}

.todo input[type='checkbox']:checked {
  background-color: currentcolor;
}

.todo input[type='checkbox']:checked::before {
  box-shadow: none;
}

/* content */
.todo input[type='text'] {
  min-width: 240px;
  height: 2.5rem;
  padding: 0 1rem;
  background-color: transparent;
  border-radius: var(--border-radius-15);
  margin: 0 1rem;
  box-sizing: border-box;
}

.todo input[type='text']:focus {
  color: var(--text-200);
  background-color: var(--bg-100);
  outline: 1px solid var(--bg-300);
}

/* deleteButton */
.todo .fixedTodoButton {
  visibility: hidden;
  width: 2.5rem;
  height: 2.5rem;
}

.todo .deleteButton {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-14);
  border-radius: var(--border-radius-20);
  background-color: var(--bg-100);
  transition: var(--transition-3);
}

.todo .deleteButton img {
  width: 22px;
  transition: var(--transition-3);
}

.todo .deleteButton:hover {
  box-shadow: var(--box-shadow-hover);
}

.todo .deleteButton:hover img {
  transform: scale(1.2);
}

@media (max-width: 580px) {
  .todo input[type='checkbox'] {
    width: 1.2rem;
    height: 1.2rem;
  }

  .todo input[type='text'] {
    min-width: 220px;
    padding: 0 0.5rem;
    margin: 0 0.5rem;
    box-sizing: border-box;
  }

  .todo .fixedTodoButton,
  .todo .deleteButton {
    width: 2rem;
    height: 2rem;
  }

  .container .deleteButton img {
    width: 20px;
  }
}

@media (max-width: 380px) {
  .todo input[type='text'] {
    min-width: 200px;
  }
}
