.container {
  margin: 2rem auto 0 auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}

.container li {
  width: 50vw;
  box-sizing: border-box;
}
