header {
  width: 100vw;
  padding-top: 10vh;
}

.container {
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .logo img {
  width: 60px;
}

.container .logoutButton {
  border: none;
  font-size: var(--font-size-18);
  background-color: var(--bg-200);
  padding: var(--round-medium-button);
  border-radius: var(--border-radius-30);
  box-shadow: var(--box-shadow-basic);
  transition: var(--transition-3);
}

.container .logoutButton:hover {
  background-color: var(--primary-200);
  box-shadow: 0 0 3px var(--primary-300);
  transform: translateY(-1px);
}
