.section {
  width: var(--width-basic);
  min-height: var(--height-min);
}

.container {
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: var(--padding-small) 0;
}

/* filter */
.container .filter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .filter li {
  margin-right: var(--margin-small);
}

.container .filter button {
  border: none;
  font-size: var(--font-size-16);
  background-color: var(--bg-200);
  padding: var(--round-small-button);
  border-radius: var(--border-radius-20);
  box-shadow: var(--box-shadow-basic);
  transition: var(--transition-3);
}

.container .filter button:hover {
  background-color: var(--primary-100);
  box-shadow: var(--box-shadow-hover);
  transform: translateY(-1px);
}

.container .filter button.active {
  background-color: var(--primary-100);
}

/* bucketList */
.container .bucketList {
  width: 100%;
  height: calc(60vh - 45px);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* createButton */
:root {
  position: relative;
}

.createButton {
  position: sticky;
  bottom: 10vh;
  left: 70vw;
  border: none;
  font-size: var(--font-size-18);
  background-color: var(--primary-100);
  padding: var(--round-medium-button);
  border-radius: var(--border-radius-30);
  box-shadow: var(--box-shadow-basic);
  transition: var(--transition-3);
}

.createButton:hover {
  box-shadow: var(--box-shadow-hover);
  transform: translateY(-1px);
}
