.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.loginIntro {
  width: 50vw;
  margin: 0 auto;
  text-align: center;
  background-color: var(--bg-200);
  padding: var(--round-large-button);
  border-radius: var(--border-radius-20);
  box-sizing: border-box;
}
.logoImage {
  width: 72px;
  margin: var(--margin-small);
}
.introText {
  line-height: 1.5rem;
}
.loginForm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.emailInput {
  font-size: var(--font-size-18);
  background-color: var(--bg-200);
  border-radius: var(--border-radius-20);
  border: none;
  text-align: center;
  padding: var(--round-large-button);
  box-sizing: border-box;
}

.passwordInput {
  font-size: var(--font-size-18);
  background-color: var(--bg-200);
  border-radius: var(--border-radius-20);
  border: none;
  text-align: center;
  padding: var(--round-large-button);
  box-sizing: border-box;
}

.buttonBox {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.loginButton {
  width: 45%;
  border: none;
  cursor: pointer;

  background-color: var(--primary-100);
  border-radius: var(--border-radius-20);
  padding: var(--round-small-button);
}
.signupButton {
  width: 45%;
  border: none;
  cursor: pointer;

  background-color: var(--primary-100);
  border-radius: var(--border-radius-20);
  padding: var(--round-small-button);
}
