.container {
  width: 50vw;
  margin: 0 auto;
  padding: var(--padding-small);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: var(--border-radius-20);
  box-shadow: var(--box-shadow-basic);
  box-sizing: border-box;
  overflow: hidden;
  transition: all 0.3s linear;
}

.container ul li {
  margin-bottom: var(--margin-small);
}

.container .createButton {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  font-size: var(--font-size-18);
  background-color: var(--bg-200);
  transition: var(--transition-3);
}

.container .createButton:hover {
  color: var(--bg-100);
  background-color: var(--text-200);
}
